
@media only screen and (min-width: 599px) {
    body{
    margin: 0;
    background-image: url(img/background.jpg);
}

/* .container img,
.inform img{
    height: 850px;
    width: 100%;
    margin-bottom: -10px;
} */

/* .container h1{
    display: flex;
    position: absolute;
    top: 0;
    margin-top: 280px;
    margin-left: 820px;
    color: white;
    font-weight: bold;
} */


.div2{
    display: flex;
    justify-content: center;
}

.grid{
    display: grid;
    grid-template-columns: repeat(3,23%);
    grid-template-rows: repeat(2,150px);
    position: absolute;
    row-gap: 50px;
    column-gap: 100px;
    margin-top: 200px;
}

.grid img{
    width: 150px;
    height: 150px;
}

button{
    position: absolute;
    border-style: none;
    bottom: 0;
    width: 100%;
    height: 70px;
    background-color: rgb(241, 78, 78);
    color: white;
    font-size: 30px;
    
}

/* .inform h1{
    position: absolute;
    top: 0;
    margin-top: 230px;
    margin-left: 880px;
    color: white;
    font-weight: bold;
}

.inform h2{
    position:absolute;
    top: 0;
    margin-top: 280px;
    margin-left: 670px;
    color: white;
    font-weight: bold;
    text-align: center;
    text-align: center;
} */

.head2{
    margin-top: 240px;
}

.input1{
    position: absolute;
    top: 0;
    margin-top: 380PX;
}

.input2{
    position: absolute;
    top: 0;
    margin-top: 480PX;
}

.input3{
    position: absolute;
    top: 0;
    margin-top: 580PX;
}

.input1,
.input2,
.input3{
    display: flex;
    
    /* margin-left: 720px; */
    width: 500px;
    height: 40px;
    padding: 5px;
    border-radius: 1rem;
    border-style: none;
    color: rgb(241, 78, 78);
    font-size: 20px;
    padding-left: 20px;
}
}


@media only screen and (max-width: 599px){
body{
    margin: 0;
    background-image: url(img/background.jpg);
}


.div2{
    display: flex;
    justify-content: center;
}

.grid{
    display: grid;
    grid-template-columns: repeat(2,50%);
    grid-template-rows: repeat(3,80px);
    position: absolute;
    top: 0;
    margin-top: 300px;
    row-gap: 20px;
    column-gap: 30px;
}

.grid img{
    width: 100px;
    height: 100px;
}

button{
    border-style: none;
    width: 100%;
    height: 40px;
    background-color: rgb(241, 78, 78);
    color: white;
    font-size: 30px;
    position: absolute;
    bottom: 0;
}

.inform h1{
    position: absolute;
    top: 0;
    margin-left: 110px;
    color: white;
}

.inform h2{
    position:absolute;
    top: 0;
    margin-top: 300px;
    color: white;
    font-weight: bold;
    text-align: center;
    position: fixed;
}

.input1{
    position: absolute;
    top: 0;
    margin-top: 390px;
}

.input2{
    position: absolute;
    top: 0;
    margin-top: 470px;
}

.input3{
    position: absolute;
    top: 0;
    margin-top: 550px;
}

.input1,
.input2,
.input3{
    width: 320px;
    height: 30px;
    padding: 5px;
    border-radius: 1rem;
    border-style: none;
    color: rgb(241, 78, 78);
    font-size: 20px;
    padding-left: 20px;
}
}